@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS --- 
Yellow : bg-amber-300
Blue : bg-cyan-500
Purple: bg-purple-400

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 350px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root,
.PasswordDisplay--div {
  /*     border: 1px solid rgb(6 182 212);
    padding: 5em; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PasswordDisplay--div {
  justify-content: space-between;
}

h1,
.setOrbitronFont {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}

.btn-styling {
  color: white;
  padding: 0.5rem 0;
  border-radius: 0.125rem
}

.btn-styling:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}
