@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS --- 
Yellow : bg-amber-300
Blue : bg-cyan-500
Purple: bg-purple-400

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
/*     border: 1px solid rgb(6 182 212);
    padding: 5em; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6em;
}

h1 , .setOrbitronFont {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}

button:hover {
    border:1px solid black;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.showQuestion:hover {
    cursor: pointer;
}

.showQuestion {
    position: absolute;
    right: 0;
    bottom: -30;
}